@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 1200px;
    font-family: Montserrat, sans-serif;
    background-color: #E5E5E5;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    padding: 0;
    border: none;
    background: transparent;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 100%;
}

section {
    margin-bottom: 70px;
}

.section-title {
    padding-left: 40px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

/*                     header                              */
.header {
    padding: 30px 0;
    margin-bottom: 70px;
}

.header-container {
    flex-direction: column;

}

.header-upper {
    margin-bottom: 30px;
    align-items: center;
}

.header-bottom {
    padding: 20px 45px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.header-logo {
    margin-right: 40px;
}

.header-number {
    margin-right: auto;
    color: #666666;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.header-login {
    color: #CC9933;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-image: url("../_img/head-login.SVG");
    background-repeat: no-repeat;
    background-size: 21px 12px;
    background-position: left center;
    padding-left: 28px;
}

.head-number {
    color: #666666;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.header-nav {
    align-items: center;
}

.header-nav-item:not(:last-child) {
    margin-right: 45px;
}

.header-list {
    justify-content: space-between;
    margin-right: auto;
}

.header-link {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    transition: .2s;
}

.header-link:hover {
    color: black;
}

.header-btn:not(:last-child) {
    margin-right: 40px;
}

.btn {
    color: #CC9933;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    padding: 13px 20px;
    transition: .2s;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #CC9933;
}

/*  special  */
.special-container {
    flex-direction: column;
}


.special-items {
    flex-direction: column;
}

.special-item {
    border-radius: 15px;
    width: 573px;
    padding: 40px 45px;
    background-size: cover;
    background-repeat: no-repeat;

}

.special-item_place1 {
    background-image: url("../_img/maldives.JPG");
}

.special-item_place2 {
    background-image: url("../_img/krit.JPG");
}

.special-item_hotels {
    flex-direction: column;
    justify-content: center;
    background-image: url("../_img/numbers.JPG");
}

.special-caption_hotels {
    padding-top: 160px;
    margin-bottom: 15px;
    max-width: 299px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;

}

.special-item:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 24px;
}

.special-caption {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.special-price {
    display: block;
    margin-bottom: 45px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.special-link {
    color: #F0BF5F;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-image: url("../_img/special-arr.SVG");
    background-repeat: no-repeat;
    background-size: 11px 12px;
    background-position: right center;
    padding-right: 12px;
    padding-bottom: 3px;
}
/*          about           */
.about-container {
    flex-direction: column;
    align-items: flex-start;
}

.about-article {
    max-width: 888px;
}

.about-dsc {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}
/*          services                     */
.services-container {
    flex-direction: column;
}

.services-items {
    flex-wrap: wrap;
}

.services-item {
    padding-top: 165px;
    width: 573px;

    margin-bottom: 25px;
    border-radius: 15px 15px;
}

.services-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.services-item_service {
    background: white url("../_img/services-img.JPG") no-repeat;
}
.services-item_rent {
    background: white url("../_img/banket-services.JPG") no-repeat;
}
.services-item_pool {
    background: white url("../_img/pool-services.JPG") no-repeat;
}
.services-item_parking {
    background: white url("../_img/parking-services.JPG") no-repeat;
}

.services-link {
    color: #CC9933;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    background-image: url("../_img/special-arr.SVG");
    background-repeat: no-repeat;
    background-size: 11px 15px;
    background-position: right center;
    padding-right: 14px;
    padding-bottom: 3px;
}

.services-text {
    padding: 25px 45px;

}

.services-dsc {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}
/*            advantages           */
.advantages-container {
    flex-direction: column;

}

.advantages-items {
    flex-wrap: wrap;
}

.advantages-item {
    width: 276px;
    margin-bottom: 22px;
    background-color: #FFFFFF;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 66px 66px;
    background-position: 20% 20%;
    padding-top: 80px;
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-item-bg_first {
    background-image: url("../_img/adv-first.SVG");
}
.advantages-item-bg_second {
    background-image: url("../_img/adv-second.SVG");

}
.advantages-item-bg_third {
    background-image: url("../_img/adv-third.SVG");

}
.advantages-item-bg_forth {
    background-image: url("../_img/adv-fourth.SVG");

}
.advantages-item-bg_fifth {
    background-image: url("../_img/adv-fifth.SVG");

}
.advantages-item-bg_sixth {
    background-image: url("../_img/adv-sixth.SVG");

}
.advantages-item-bg_seventh {
    background-image: url("../_img/adv-seventh.svg");

}
.advantages-item-bg_eighth {
    background-image: url("../_img/adv-eighth.svg");

}

.advantages-dsc {
    padding: 32px 45px;
}
/*              placement                */
.placement-container {
    flex-direction: column;
}

.placement-items {
    flex-wrap: wrap;
}

.placement-item {
    width: 374px;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    border-radius: 15px;

}

.placement-item:not(:nth-child(3n)){
    margin-right: 24px;
}

.placement-image {
    border-radius: 15px 15px 0 0;
}

.placement-text {
    padding: 32px 45px 45px;
    color: #999999;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.price-rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.placement-price {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-left: 5px;
}

.hotel-name {
    margin-bottom: 16px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.hotel-location {
    margin-bottom: 16px;
}

.placement-more {
    padding-bottom: 27px;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../_img/hotel-vari.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

.placement-more-text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    background-image: url("../_img/white-trian.SVG");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: right center;
    padding-right: 20px;
    padding-bottom: 4px;
}
/*                        tour                 */
.tour-container {
    background-color: #E9E9E9;
    border-radius: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.form {
    padding-left: 45px;
    padding-right: 45px;
}

.tour-title {

}

.form-title {
    display: block;
    color: black;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
}


.form-wrapper {
    background-color: white;
    padding: 31px 28px;
    border-radius: 15px;
    justify-content: space-between;
}

.form-select {
    width: 169px;
    border: none;

}

.form-input {
    width: 121px;
    border: none;
    border-bottom: 1px solid #E9E9E9;
}

.form-input::-webkit-inner-spin-button {
    opacity: 1;
}

.form-input {
    opacity: 1;
}

.form-btn {
    min-width: 108px;
}


/*                     contacts                     */
.contacts-container {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 45px;
    justify-content: space-between;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 45px;
}

.contacts-address {
    display: flex;
    max-width: 90%;
    padding-top: 23px;
    padding-bottom: 23px;
    border-bottom: 1px solid #E9E9E9;
}

.contact-item {
    min-width: 40%;
}

.contacts-name {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

}

.contact-dsc {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.contacts-link {
    color: #CC9933;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.mail-dsc {
    color: #999999;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.contacts-btn {
    width: 213px;
    height: 70px;
}


/*             footer                              */
.footer {
    color: #FFFFFF;
}

.footer-container {

    align-items: flex-start;
    padding: 45px;
    background-color: #333333;
    border-radius: 15px;
    background-image: url("../_img/footer-logo.SVG");
    background-repeat: no-repeat;
    background-position: 80% 100%;
}

.footer-rights {
    width: 302px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 125px;
}

.footer-copyright {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
}

.footer-offer {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
}

.user-privacy {
    color: #CC9933;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer-address {
    flex-direction: column;
    margin-right: 270px;
}

.footer-index {
    margin-bottom: 15px;
}
.footer-numbers {
    flex-direction: column;
    margin-bottom: 15px;
}
.footer-emails {
    flex-direction: column;
}

.footer-contacts {
    color: #CC9933;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.social-item {
    margin-bottom: 20px;
}

.social-item_ta {
    display: block;
    background-image: url("../_img/tripad.SVG");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    width: 30px;
    height: 30px;
}
.social-item_ok {
    display: block;
    background-image: url("../_img/ok.SVG");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    width: 30px;
    height: 30px;
}
.social-item_vk {
    display: block;
    background-image: url("../_img/vk.SVG");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    width: 30px;
    height: 30px;
}